.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background-color: darkkhaki;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.main-navigation_logo h1 {
    margin: 0;
    font-size: 1.5rem;
}

.main-navigation_items {
    margin-left: 1.5rem;
}

.main-navigation_items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

}
.main-navigation_items li {
    margin: 0 1rem;
}

.main-navigation_items a,
.main-navigation_items button
{
    text-decoration: none;
    color: black;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

.main-navigation_items a:hover,
.main-navigation_items a:active,
.main-navigation_items a.active,
.main-navigation_items button:hover,
.main-navigation_items button:active
{
    color: aliceblue;
    background: black;
    border-radius: 5px;
}
